/* =========================================================
   NAVBAR
========================================================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 10px 20px;
}

.nav-item {
  color: var(--gold);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}
.nav-item:hover {
  color: antiquewhite;
}

.Logo {
  height: 50px;
}

.profile-btn,
.home-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.profile-btn {
  font-size: 1.5em;
}
.home-btn {
  font-size: 1.8em;
  margin-right: 20px;
}